.navigation {
    display: flex;
    flex-direction: row;
    margin: 15px 0 15px 0;
}

.active-navitem {
    padding: 5px;
    border: solid #0d6efd 2px;
}

.inactive-navitem {
    padding: 7px;
    background-color: #0d6efd;
    color: white;
}

.inactive-navitem:hover{
    cursor: pointer;
    background-color: white;
    border: solid #0d6efd 2px;
    padding: 5px;
    color: black;
}