.uv-container {
    display: grid;
    background-color: #e7f1ff;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 3em 3em;
}

.uv-item {
    background-color: blue;
    line-height: 3em;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #dee2e6;
}

.uv-title {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #dee2e6;
    grid-column: 1 / span 11;
    line-height: 3em;
    text-align: left;
    padding-left: 1.25em;
}

.uv-title + .uv-item {
    border-width: 1px 1px 1px 1px;
}